[submodule "os/jos"]
	path = os/jos
	url = https://github.com/kumasento/jos
[submodule "competitive-programming"]
	path = competitive-programming
	url = git@github.com:kumasento/competitive-programming
